@import url('https://fonts.googleapis.com/css?family=Ubuntu:400');

html {
  box-sizing:border-box;} /*16px*/
*, *::after, *::before{
  box-sizing:inherit;
}
body {
  background: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 1rem 0 1.38rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
  text-align: center;
  color:#066051;
  text-transform: uppercase;
}

h2 {
  font-size: 1.602rem;
  text-transform: uppercase;
}

h3 {font-size: 1.424rem;
font-weight: 900;}

h4 {font-size: 1.266rem;
text-transform: uppercase;
font-weight: 900;}

h5 {font-size: 1.125rem;
  border-bottom: solid .045rem #e9eceb;
  color:#066051;
  font-weight: 700;
  }

h6,p{font-size: 1rem;
  font-weight: normal; 
  text-transform: uppercase;
  margin-top:0;
  margin-bottom:1.5rem;

}
p{
  text-transform: none;
}
a{
  color:#066051;
  text-decoration:underline;
}
small{font-size: 0.889rem;}

.container{
  max-width:40em;
}