@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* ----------------------------------------imports go above--------------------------------- */


html {
    box-sizing:border-box;
}

*,*::after,*::before {
    box-sizing:inherit;
}

body {
    background: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    margin-top:0%;
    margin:0%;
}

img {
    max-width:100%;
}


/* ------------------------------------this is where the mobile type scale is set------------------ */


html {
    font-size:100%;
}

h1, h2, h3, h4, h5 {
    margin: 1rem 0 1.38rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    padding-top:0%;
    margin-top: 0%;
    margin-bottom:.5rem;
    font-size: 1.802rem;
    text-align: center;
    color:#066051;
    text-transform: uppercase;
}

h2 {
    font-size: 1.602rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.424rem;
    font-weight: 900;
}

h4 {
    font-size: 1.266rem;
    text-transform: uppercase;
    font-weight: 900;
}

h5 {font-size: 1.125rem;
    border-bottom: solid .045rem #e9eceb;
    color:#066051;
    font-weight: 700;
}

h6{
    font-size: 1.3rem;
    font-weight: normal; 
    text-transform: uppercase;
    margin-top:0;
    margin-bottom:1.5rem;
}

p {
    font-size:1.3rem;
    text-transform: none;
    font-weight: normal;
    font-family: "Ubuntu",sans-serif;

}

a {
    color:#066051;
    text-decoration:underline;
}

small, .text_small {
    font-size: 0.889rem;
}

/* - - - - - - - - - - - - - - - - - - - - - Re-Usable Classes (alphabetical order by type)- - - - - - - - - - - - - - - - - - - -  */



/* ----------------------                 Banners                 -----------------------------*/



.banner {
    display:flex;
    text-align:center;
    color:#f3f6f5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    background-position: center;
    background-size: cover;
    width:100%;
}    

.banner p {
    font-size:1.5rem;
    line-height:1.5;
    margin: 0 0 1rem 0;
}

.banner-header{
    display:flex;
    align-self: center;
    text-transform: uppercase;
    line-height:1.15;
}

.banner .container{
    padding: 5rem 1.2rem;
}


/*-----------------------call to action banner-----------------------------*/


.call-to-action {
    background-image:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)) ,url(/images/banners/soccer-banner-bw.jpg);
}



/* ------------------------------                 Buttons      ------------------------------------------------ */




/* ---------------light-green #09a38c sign-up button------------ */


.btn-lgt-green {
    border:#09a38c;
    color:#09a38c;
}

.btn-lgt-green:hover {
    background-color:#f3f6f5;
}

.btn-lgt-green:active {
    background-color: rgb(165, 165, 165);
    border:solid #f3f6f5;
    color:#f3f6f5;
}


/* --------------primary -green #066051 sign up button---------------- */


.btn-pri-green {
    border:#066051;
}

.btn-pri-green:hover {
    background-color:#f3f6f5;
}

.btn-pri-green:active {
    background-color: rgb(165, 165, 165);
    border:#f3f6f5;
    color:#f3f6f5
}



/* -------------------------sign up button -------------------- */


.sign-up-btn {
    padding:.75rem 3rem .75rem 3rem;
    text-decoration:none;
    text-align:center;
    border-radius:2rem;
    border-width:.5px;
    font-size:1.35rem;
    font-family:"Ubuntu" ,sans-serif;
    border:solid;
}


/* ---------------------------small sign up button---------------- */


.small-btn {
    margin-top: 0px;
    padding:.45rem 1.85rem .45rem 1.85rem;
    font-weight: lighter;
    font-size: 1rem;
    min-width:8rem;
}


/* ------------------- white sign-up button  #f3f6f5-------------------------------- */


.btn-white {
    border:#f3f6f5 solid;
    color:#f3f6f5; 
}

.btn-white:hover {
    background-color:#f3f6f5;
    color:#09a38c;
    border:solid #09a38c;
}

.btn-white:active {
    background-color:rgb(165, 165, 165) ;
    color:#f3f6f5;
    border:solid #f3f6f5;
}



/* ------------------------------          Containers          ---------------------------- */




.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:min(80rem,100%);
    margin:0 auto;
    text-align:center;
    
}


/* ---------------------------------------      Footer / Sub Footer     ---------------------------------------- */



.footer {
    background-color:#066051;
}

.footer .container {
    background-color:#066051;
    color:#fff;
    padding:1.25rem;
    width:100%;
}


.footer .logo {
    margin:0 auto;
    margin-bottom:.75rem
}

.footer .footer-btn {
    margin:1rem 0rem 0rem 0rem;
}

.sub-footer {
    background-color:#044438;
}

.sub-footer .container{
    background-color:#044438;
    color:#fff;
    width:100%;
}

.sub-footer ul{
    display:flex;
    justify-content: center;
    gap:1.5rem;
    list-style-type: none;
    margin:0;
    padding:0;
    padding-top:.75rem;
    font-size:smaller;
    color:#fff
}
.sub-footer li a{
    color:#fff;
    text-decoration:none;
}

.sub-footer li a:hover {
    text-decoration: underline;
}



/* -----------------------------             Navigation bar                ------------------------ */



/* ----------------------------- Polished Logo----------------- */

.logo {
    display:inline-block;
    width:12rem;
}

.logo:hover{
    opacity: .6;
    transition: .4s;
}

/* ------------------------Masthead Sign-Up Button ---------------- */

.masthead .small-btn:hover {
    background-color: #066051;
    color:#fff;
}

.masthead .small-btn:active {
    background-color: rgb(165, 165, 165);
    border:#f3f6f5;
    color:#f3f6f5
}

.masthead .container{
    padding:1rem 0rem;
}

.nav{
    display:flex;
    flex-flow:column nowrap;
}

.nav ul {
    display:flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding:0;
    margin:0;
}

.nav li {
    margin-bottom:1.25rem;
}

.nav a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* - - - - - - - - - - - - - - - - "Polished" content starts here (order of appearance) - - - - - - - - - - - - - - */

/* ------------------------------    Page design "Mobile First"     -------------------------------- */


/* - - - - - - - - - - - - - - - - - - - - - - -  Header in Reusable Classes above - - - - - - - - - - - - - - - - - - - */



/* - - - - - - - - - - - - - - - - - - - - - - -      Main      - - - - - - - - - - - - - - - - - - - */




/* - - - - - - - - - - - - - - - - - - - - - - -  Hero-Banner   - - - - - - - - - - - - - - - - - - - */



.hero-banner {
    background-image:linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)),url(/images/banners/hero-home.jpg);
}

.hero-banner .container{
    padding:9rem 2rem;
}


/* - - - - - - - - - - - - - - - - - - - - - - -  Team Names Section  - - - - - - - - - - - - - - - - - - - */


.team-names .container {
    flex-flow:row wrap;
    padding: 2rem 2.5rem;
}

.team-names ul {
padding:0rem;
margin: 0 auto;
}

.team-names ul li {
    display:flex;
    list-style-type: none;
    padding:0;
    margin-bottom:1.5rem;
    width:15rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - -  Platform Section - - - - - - - - - - - - - - - - - - - */



.platform {
    text-align: center;
    width:100%;
    color:black;
    font-family:sans-serif;
}
.platform .container{
    padding:5rem 1.5rem;
}
.platform p {
    font-size: 1.25rem;
}
.platform img{
    margin-bottom:2rem;
    width:100%;
}


/* - - - - - - - - - - - - - - - - - - - - - - -  Call to action banner in reusable classes above - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - - - -  Footer in Reusable Classes above  - - - - - - - - - - - - - - - - - - - */



/* - - - - - - - - - - - - - - - - - - - - - - -  Adaptive Media Queries   - - - - - - - - - - - - - - - - - - - */


@media only screen and (min-width:30em) {


/* - - - - - - - - - - - - - - - - - - - - - - -      Main      - - - - - - - - - - - - - - - - - - - */




/* - - - - - - - - - - - - - - - - - - - - - - -  Large Mobile Adaptive Logos    - - - - - - - - - - - - - - - - - - - */

.team-names .container {
    padding: 2rem 2rem;
}


}



@media only screen and (min-width:45em) {  /*- - - - - - - - - Tablet Size Polished adaptive styles - - - - - - - - - - */
    

/* - - - - - - - - - - - - - - - - - - - - - - -   Tablet   Type Scale     - - - - - - - - - - - - - - - - - - - */





html {
    font-size:100%
}

h1 {
    font-size: 2.488rem;
}

h2 {
    font-size: 2.074rem;
}

h3 {
    font-size: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.125rem;
}

h6,p {
    font-size: 1rem;
}

small, .text_small {
    font-size: 0.833rem;
}


/* - - - - - - - - - - - - - - - - - - - - - - -      Main      - - - - - - - - - - - - - - - - - - - */



/* - - - - - - - - - - - - - - - - - - - - - - -  Tablet Adaptive Logos    - - - - - - - - - - - - - - - - - - - */


.team-names ul{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap: 3rem;
}

}


@media only screen and (min-width:60em) { /*- - - - - - - - - - - - - Laptop Adaptive styles - - - - - - - - - - */



/* - - - - - - - - - - - - - - - - - - - - - - -     Laptop Type Scale     - - - - - - - - - - - - - - - - - - - */





html {
    font-size:100%;
}

h1 {
    font-size: 3.052rem;
}
h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.4rem;
}

h6,p {
    font-size: 1.3rem;
}

small {
    font-size: 0.8rem;
} 


/* - - - - - - - - - - - - - - - - - - - - - - -  Laptop Adaptive Header      - - - - - - - - - - - - - - - - - - - */




.masthead {
    width:min(65rem,100%);
    margin:0 auto;
}


.masthead .container {
    justify-content: space-around;
    flex-flow:row nowrap;
    padding:.5rem 1.25rem;
}

.masthead .logo-wrap{
    display:flex;
    align-content: center;
    justify-content: center;
    margin:0;   
}

.logo {
    max-width:12rem;
    margin-right:2rem;
}    

.nav {
    justify-content:flex-start;
    flex-grow:1;
    align-items: center;
    flex-flow: row nowrap;
}

.nav ul {
    display:flex;
    flex-flow:row nowrap;
    flex-grow:1;
}

.nav li {
    display:flex;
    padding-left:1rem;
    margin-bottom:0;
    min-width:5rem;
}

#platform-tour {
    min-width:8rem;
}

.nav .sign-in {
    margin-left:auto;
}

.nav .sign-up {
    margin-left:0;
    padding-left:0;
}


/* - - - - - - - - - - - - - - - - - - - - - - -      Main      - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - - - -  Laptop Adaptive Logos    - - - - - - - - - - - - - - - - - - - */


.team-names .container {
    width:100%;
}

.team-names ul {
    display:flex;
    width: min(80rem ,100%);
    margin:0 auto;
    justify-content: space-between;
}

.team-names li {
    text-align:center;
    padding:0;
    width:min(10rem,100%)
}


/* - - - - - - - - - - - - - - - - - - - - - - -  Laptop Adaptive Platform Banner      - - - - - - - - - - - - - - - - - - - */


.platform .container {
    width:50%;
    padding:5rem 1.5rem;
}

.platform h2 {
    padding: 0 2rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - -  Laptop Adaptive Call to Action Banner      - - - - - - - - - - - - - - - - - - - */


.call-to-action .banner-header {
    padding:0 8rem;
}


/* - - - - - - - - - - - - - - - - - - - - - - -   Laptop Adaptive Footer     - - - - - - - - - - - - - - - - - - - */



.footer .container {
    flex-direction: row;
    justify-content: space-between;
    width:min(65rem,100%);
}

.footer .logo {
    display: flex;
    margin:0;
    margin-bottom:0;
}

.sub-footer ul {
    list-style-type: none;
    margin:0;
    padding:0;
    font-size:smaller;
}

.sub-footer li {
    padding-left:1.25rem;
}

.footer .footer-btn {
    margin:0;
}


}


/* - - - - - - - - - - - - - - - - - - - - - - -Polished Page Ends - - - - - - - - - - - - - - - - - - */








/*- - - - - - - - - - - - - - - - - - - - - - - Platform Tour Page Begins - - - - - - - - - - - - - - - - - - - */
 /* ----------------------------*****             Mobile First           *****-------------------------- */


/* - - - - - - - - - - - - - - - - - - - - - - -      Main    - - - - - - - - - - - - - - - - - - - */



/* - - - - - - - - - - - - - - - - - - - - - - -     Banner      - - - - - - - - - - - - - - - - - - - */


/* -----------------------Platform tour banner "next level design"--------------- */


.platform-tour-page .platform-tour {
    background-image:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.45)), url(/Images/banners/hero-platform.jpg);
    text-align:center;
}

.platform-tour #platform-tour-hero {
    color:#fff
}

.platform-tour {
    margin-bottom:3rem;
}


/* - - - - - - - - - - - - - - - - - - - - - - -      Polished + Platform    - - - - - - - - - - - - - - - - - - - */



.polished-platform {
    padding:0rem 1.5rem;
    margin-bottom: 6rem;
}

.polished-header {
    text-align:left;
}

.polished-content {
    text-align: left;
    margin-top:0;
}

.polished-platform img {
    margin-bottom:1rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - -  Call to action banner in reusable classes above - - - - - - - - - - - - - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - - - -  Footer in Reusable Classes above  - - - - - - - - - - - - - - - - - - - */



@media only screen and (min-width:30em) { /*- - - - - - - Large mobile platform tour - - - - - - - */


/* - - - - - - - - - - - - - - - - - - - - - - -      Banner      - - - - - - - - - - - - - - - - - - - */


.platform-tour-page .platform-tour {
    padding:3.5rem 1rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - -      Main      - - - - - - - - - - - - - - - - - - - */


/* ---------------large mobile adaptive polished  + grid container------------------ */


    .polished-grid-container img {
    width:min(25rem,100%);
}

}


@media only screen and (min-width:45em) { /*- - - - - - - - - - Tablet Adaptive Platform Tour - - - - - - */


    /* - - - - - - - - - - - - - - - - - - - - - - -      Main      - - - - - - - - - - - - - - - - - - - */



/* ---------------tablet polished platform grid container------------------ */


.polished-grid-container {
    display:grid;
    grid-template-columns: 1fr 5rem 1fr;
    grid-template-areas:
    "cont . img"
    "p . img";
    width:min(55rem,100%);
    justify-self:center;
    margin-bottom:6rem;
}

.polished-grid-container:nth-child(2n) {
    grid-template-areas:
    "img . cont"
    "img . p";
}

.polished-header {
    grid-area:cont;
    align-self: flex-end;
}

.polished-content {
    grid-area:p;
}

.polished-grid-container img {
    grid-area:img;
    width:100%;
}

}


@media only screen and (min-width:60em) { /*- - - - - - - - - - - - Laptop Adaptive Platform Tour - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - - - -      Banner      - - - - - - - - - - - - - - - - - - - */



.platform-tour-page .platform-tour{
    padding: 5.25rem 2rem;
}

}





 /* - - - - - - - - - - - - - - - - - - - - - - - Platform Tour Page Ends - - - - - - - - - - - - - - - - - - - - - */








/* - - - - - - - - - - - - - - - - - - - - - - - - - Pricing Page Begins -  - - - - - - - - - - - - - - - - - - - - */
/* ---------------------------------Mobile First-------------------------------------- */


/* - - - - - - - - - - - - - - - - - - - - - - -      Pricing Banner     - - - - - - - - - - - - - - - - - - - */



.pricing-banner p {
    color:black;
    font-size: 1.35rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - -  Pricing Table Section  - - - - - - - - - - - - - - - - - - - */


/* ------------------------- Table Containers ------------------------- */


.pricing-table .container {
    flex-direction: row;
    justify-content: center;
    padding:2rem 1rem;
    margin-bottom: 5rem;
    width:100%;
}

.table-scroller {
    overflow-x: scroll;
    max-width: 100%;
}

/* -------------------------Table -------------------------*/

table {
    display:contents;
    width:100%;
    border-collapse: collapse;
    overflow: hidden;
}


/* -------------------------Table  Head -------------------------*/


thead th {
    padding-top:1.5rem;
    text-align: center;
    font-size:1.424rem;
}


/*-------------------------Table Body-------------------------*/


tbody th, tbody td {
    border-bottom:.025rem rgba(204, 203, 203, 0.438) solid;
}

tbody th {
    min-width: 11rem;
    text-align: left;
    font-size: 1.266rem;
}

td {
    text-align: center;
    padding:1.5rem .5rem;
}


/*-------------------------Premium Price Column-------------------------*/


.price td {
    font-size: 4rem;
    font-weight: bold;
}

.price sup{
    font-size: 2rem;
}

.price p {
    margin-top:0;
    font-size: 1rem;
    margin-bottom:2rem;
}

.premium {
    background-color: rgb(240 ,244, 241);
    color:#066051
}

.premium-top {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.premium-bottom {
    border-bottom-left-radius:1rem;
    border-bottom-right-radius: 1rem ;
    margin-bottom: 1rem ;
}

.premium-btn {
    color:#fff;
    border:solid #09a38c;
    background-color:#09a38c;
}


/* -------------------------Table Footer-------------------------*/


.uppercase {
    text-transform: uppercase;
}

.uppercase td:not(.table-buttons) {
    padding-top: 3rem;
    padding-bottom:0;
    margin-bottom:0;
}

.table-button {
    display: inline-block;
    min-width:10rem;
    padding:.5rem 2rem
}

.table-buttons {
    
    margin-bottom: 2rem;
}




/* - - - - - - - - - - - - - - - - - - - - - - -  Call to action banner in reusable classes above - - - - - - - - - - - - - - - - - - - */

/* - - - - - - - - - - - - - - - - - - - - - - -  Footer in Reusable Classes above  - - - - - - - - - - - - - - - - - - - */






/* - - - - - - - - - - - - - - - - - - - - - - -  Pricing Adaptive Media Queries   - - - - - - - - - - - - - - - - - - - */




@media only screen and (min-width:45rem){ /*- - - - - - - - - - - Pricing Tablet Adaptive Styles - - - - - - - - - - - -*/



/* - - - - - - - - - - Pricing Banner - - - - - - - - - - -  */

    
.pricing-banner p {
        font-size: 1.5rem;
}

/*- - - - - - - - - - -Pricing Table- - - - - - - - - - -*/


/*--------------Head-------*/


thead th {
    font-size: 1.724rem;
}


/*-------------Body-----------*/


tbody th {
    font-size: 1.363rem;
    min-width: 12rem;
}

td {
    padding:1.5rem 2rem;
}


}



@media only screen and (min-width:60rem){ /*- - - - - - - - - - - Pricing Laptop Adaptive Styles - - - - - - - - - - - -*/



/* - - - - - - - - - - Pricing Banner - - - - - - - - - - -  */


.pricing-banner p {
    font-size: 1.95rem;
}


/*- - - - - - - - - - -Pricing Table- - - - - - - - - - -*/


/*-------------------------Table Scroller-------------------------*/


.table-scroller {
        overflow: hidden;
}


/*--------------------- Head-------------------*/


thead th {
    font-size: 1.924rem;
}


/*---------------------Body--------------------*/


tbody th {
    font-size: 1.363rem;
}

td {
    padding:1.5rem 4rem;
}

}

/* - - - - - - - - - - - - - - - - - - - - - - -Pricing Page Ends - - - - - - - - - - - - - - - - - - */