html{
    box-sizing:border-box;
}
*,*::after,*::before{
    box-sizing:inherit;
}
img{
    max-width:100%;
}
/* This is the first instance of the banner class */
.banner{
    display:inline-block;
    text-align:center;
    color:#f3f6f5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    background-position: center;
    background-size: cover;
    width:100%;
    
}
/* this is the baseball player banner */
.hero-banner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.500), rgba(0, 0, 0, 0.500)),url(/images/banners/hero-home.jpg);
    padding-top:6rem;
    padding-bottom:9.5rem;
}

.hero-h2{
    margin:4rem 0rem .5rem 0rem;
    font-size:1.6rem;
    text-transform: uppercase;
}
.banner-p{
    font-size:1.4rem;
    margin:.5rem 1.25rem 2.5rem 1.25rem;
    line-height:1.5;
    
}
/* This is the first instance of the button class */
.sign-up-btn{
    padding:.75rem 2.75rem .75rem 2.75rem;
    text-decoration:none;
    text-align:center;
    border-radius:2rem;
    border-width:2px;
    font-size:1.35rem;
    font-family:Arial, Helvetica, sans-serif;
}

/* this is the #09a38c sign-up button */
.btn-green{
    border:#09a38c solid;
    color:#09a38c;
    margin-top:1rem;
    
}
.btn-green:hover{
    background-color:#f3f6f5;
}
.btn-green:active{
    background-color: rgb(165, 165, 165);
    border:solid #f3f6f5;
    color:#f3f6f5
}
/* this is the banner with the soccer players */
.call-to-action-banner{
    background-image:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)) ,url(/images/banners/soccer-banner-bw.jpg);
    padding-top:3rem;
    padding-bottom:6.5rem;
}
.call-to-action-h2{
    margin:2.5rem 0rem 2rem 0rem;
    font-size:1.5rem;
    text-transform:uppercase;
    
}

.btn-white{
    border:#f3f6f5 solid;
    color:#f3f6f5;
    margin-top:2rem;
    
}
.btn-white:hover{
    background-color:#f3f6f5;
    color:#09a38c;
    border:solid #09a38c
}
.btn-white:active{
    background-color:rgb(165, 165, 165) ;
    color:#f3f6f5;
    border:solid #f3f6f5;
}


.brand-platform{
    display:inline-block;
    text-align: center;
    width:100%;
    color:black;
    font-family:sans-serif;
}
.platform-section{
    margin-top:5rem;
    margin-bottom:5rem;
}
.platform-container{
    width:100%;
    max-width:40rem;
    
    
}
.platform-banner{
    display:inherit;
    font-weight: normal;
    text-transform:uppercase;
    margin:0 .75rem 1.5rem .75rem;
    padding:0 auto;
}
.platform-p{
    font-family:sans-serif;
    font-size: 1.15rem;
    line-height: 1.45;
    margin:0rem 1rem 1.5rem 1rem;

}
.platform-image{
    width:95%;
}
