

/* ----------------------------- Polished Logo----------------- */

.logo {
    display:inline-block;
    width:12rem;
}

.logo:hover{
    opacity: .6;
    transition: .4s;
}


.logo-wrap {
    margin:1rem;
}
