

.platform {
    text-align: center;
    width:100%;
    font-family:sans-serif;
    
.container{
    color:black;
    padding:5rem 1.5rem;
}
p {
    font-size: 1.25rem;
}
img{
    margin-bottom:2rem;
    width:100%;
}
}

@media  only screen and (min-width:60em) {



.platform .container {
    width:50%;
    padding:5rem 1.5rem;
}

.platform h2 {
    padding: 0 2rem;
}

}

